.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
    gap: 10px;
}

.grid-container>.grid-content {
    width: 100%;
    border-radius: 8px;
}

.grid-content {
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-wrap: wrap;
}

.grid-content:hover{
    background-color: black;
}

.grid-container .grid-content:hover{
    background-color: antiquewhite;
}

.grid-content:hover{
    transform: scale(1.06);
    border: 1px solid white;
    box-shadow: 1px 1px 10px 10px #e4c4ff;
    transition: .5s;
}