@keyframes typing {
    0% {
        width: 0;
    }
    60% {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}

.typewriter {
    display: inline-block;
    overflow: hidden;
   
    white-space: nowrap;
    animation: typing 6s steps(30, end) forwards, blink-caret 1s step-end infinite;
    font-family: 'Courier New', Courier, monospace;
}

.typewriter h1 {
    display: inline;
    margin: 0;
}
